* {
    font-family: "Vazirmatn", sans-serif;
}

nav {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.header {
    margin: 2rem 0;
}

.header h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.header p {
    width: 35rem;
}

.gallery-item {
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.gallery-item:hover {
    scale: 1.02;
}
